@font-face {
  font-family: "Ruberoid";
  src: url("../fonts/Ruberoid-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Ruberoid";
  src: url("../fonts/Ruberoid-SemiBold.woff2");
  font-weight: 600;
  font-display: swap;
}


@font-face {
  font-family: "Ruberoid";
  src: url("../fonts/Ruberoid-Bold.woff2");
  font-weight: 700;
  font-display: swap;
}
